.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font: cabinet-grotesk, sans-serif;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: white;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 64px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
}

.modal__label {
  margin-bottom: 8px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__label_type_radio {
  display: flex;
  gap: 8px;
}

.modal__input {
  padding: 8px 0;
  border: none;
  border-bottom: solid 1px black;
  width: 100%;
  outline: none;
  background: transparent;
  display: flex;
  gap: 24px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__label_invalid {
  color: #ff4d4f;
}

.modal__input_invalid {
  border-bottom-color: #ff4d4f;
}

.modal__legend_invalid {
  color: #ff4d4f;
}

.modal__radio-buttons_invalid {
  border-bottom: 1px solid #ff4d4f;
  padding-bottom: 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__legend {
  padding: 24px 0 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0 0 32px;
  display: flex;
  flex-direction: column;
}

.modal__submit {
  background-color: #000000;
  opacity: 30%;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  white-space: nowrap;
  position: absolute;
  left: 28px;
  bottom: 18px;
}
.modal__submit_active {
  opacity: 1;
  background-color: #000000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.modal__form > .modal__login-link {
  position: absolute;
  left: calc(28px + 124px + 12px);
  bottom: 18px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  padding: 0 8px;
  background: transparent;
  border: none;
}

@media (max-width: 420px) {
  .modal__content {
    padding-bottom: 36px;
  }
  .modal__submit {
    position: static;
    width: 100%;
  }
  .modal__form > .modal__login-link {
    position: static;
    display: block;
    margin-top: 12px;
  }
}
