.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: black 1px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  background-color: white;
  border-radius: 4px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  opacity: 60%;
}

.card__image {
  width: 100%;
  border-radius: 20px;
}

.card__like-button {
  position: absolute;
  top: 15px;
  right: 100px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
