@font-face {
  font-family: "Cabinet Grotesk";
  /* Use absolute path so the dev server serves the correct file */
  src: url("/src/vendor/fonts/CabinetGrotesk-Black.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.page {
  background-color: #f3f3f3;
  font-family: cabinet-grotesk, sans-serif;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
