.modal__close {
  border: none;
  background-color: transparent;
  z-index: 10;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__image {
  width: 498px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  right: 28px;
  bottom: 28px;
  position: relative;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
}

.modal__delete {
  border: none;
  color: #ff4d00;
  background-color: white;
  cursor: pointer;
  /* position: absolute;
  right: 50px;
  bottom: 100px; */
}
