.modal__close {
  border: none;
  background-color: transparent;
  z-index: 10;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__image {
  width: 498px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  right: 28px;
  bottom: 28px;
  position: relative;
}
