.modal__close {
  border: none;
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
}

.modal__delete {
  border: none;
  color: #ff4d00;
  background-color: white;
  cursor: pointer;
  margin-right: 32px;
}

.modal__content_type_image {
  max-width: 500px;
  width: 100%;
  position: relative;
  padding: 0;
}

.modal__weather {
  margin: 0 0 32px 32px;
}
