.sidebar {
  margin-right: 116px;
}

.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0;
}

.sidebar__user-name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.sidebar__profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-left: 12px;
}
.sidebar__user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 12px;
}

.sidebar__button {
  color: black;
  font-family: "Cabinet Grotesk", sans-serif;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
