.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding-top: 85px;
}
